# For permissions in Vercel CI
unsafe-perm = true
# Disable CVE audits for front-end code (false positives which break semver)
audit = false
fund = false
# three.js breaks peer deps with pmndrs/postprocessing since Utsubo's fork uses future versioning
legacy-peer-deps=true
